<html>
    <head>
        <title>ACM@MichiganTech - {{title}}</title>
    </head>
    <body>
        <div>
        <ul>
            <li style = "display:inline;">ACM@MichiganTech - {{title}} :::: </li>

            {% for link in links %}
            <li style = "display:inline;">
            <a href="{{url_for(link.view)}}">{{link.title}}</a>
            </li>
            {% endfor %}
        </ul>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <hr>
        {% block content %}{% endblock %}

    </body>
</html>

