{% extends "base.html" %}
{% block content %}
<h1>Become a Sponsor</h1>
<p>ACM relies on company sponsorship to make our events happen. To show our 
gratitude, we try to do everything in our power to connect students with 
these companies. We have found students are able to talk to employers on 
a more personal level during our events and really showcase their abilities. 
Everyone benefits from the relationship. Please contact 
acm-sponsorship-l@mtu.edu for more information.</p>

<h2>How it works</h2>
<p>ACM has adopted a tiered sponsorship scheme. Higher tiers get more 
company branding during the event.</p>

<ul>
    <li>First - Access to resumes, top branding on shirts and website, 
    ability to talk at opening and closing, ability to give tech talks.</li>
    <li>Business - Access to resumes, mid level branding on shirts and 
    websites, ability to give tech talks</li>
    <li>Economy - Bottom level branding on shirts and website, ability 
    to hand out company branded merchandise.</li>
    <li>Baggage - Branding on the website, ability to hand out company 
    branded merchandise</li>
</ul>

<ul>
    <li><h2>TechHacks</h2>
    <p>Programmers have 24 hours to build something. Anything! Come 
    find out what Michigan Tech student's like to do</p>
    <ul><li>First - $1500</li>
        <li>Business - $1000</li>
        <li>Economy - $500</li>
        <li>Baggage - $100</li> 
    </ul>
</ul>
{% endblock %}
